crypto_pipeline:
  target: dev
  outputs:
    dev:
      type: postgres
      host: "{{ env_var('DBT_HOST', 'postgres') }}"
      user: "{{ env_var('DBT_USER', 'airflow') }}"
      password: "{{ env_var('DBT_PASS', 'airflow') }}"
      port: "{{ env_var('DBT_PORT', 5432) | int }}"
      dbname: "{{ env_var('DBT_DB', 'airflow') }}"
      schema: "{{ env_var('DBT_SCHEMA', 'public') }}"
      threads: 4
